_site
.sass-cache
.jekyll-metadata
_site
.sass-cache
.jekyll-metadata
/Gemfile
/Gemfile.lock
/_posts/*
/about.md
indent.log
schemes.aux
schemes.fdb_latexmk
schemes.fls
schemes.log
schemes.synctex.gz
schemes.xdv
_data/subtypes.yaml
subtypes-scanner/bin/main/it/unive
