<div class="config-option">
  <div class="config-option-row">
    <div class="config-option-name">
      <b>Option Name:</b>
      <code>{{ include.name }}</code>
    </div>
    <div class="config-option-type">
      <b>Option Type:</b>
      <code>{{ include.type }}</code>
    </div>
    <div class="config-option-default">
      <b>Default Value:</b>
      <code>{{ include.default }}</code>
    </div>
  </div>

  <div class="config-option-ex">
    <b>Example usage:</b>
    <div>
      <pre>{{ include.example }}</pre>
    </div>
  </div>
</div>
