{% assign class_name = include.class %}
{% assign alternatives = site.data.subtypes[class_name] %}
{% if alternatives and alternatives.size > 0 %}
  {% for pair in alternatives %}
  {% assign alt = pair[0] %}
  {% assign alt_name = alt | split: "." | slice: -1 %}
  {% assign data = pair[1] %}
  {% assign folder = data.artifact %}
  {% assign path = alt | replace: ".", "/" | append: ".java" %}
  <p>
    <b>{{ alt_name }}</b>
    <a href="https://github.com/lisa-analyzer/lisa/blob/master/lisa/{{ folder }}/src/main/java/{{ path }}">
      [Source code]
    </a>
    {% if data.doc and data.doc != "" %}
    <br/> {{ data.doc | replace: "<br>", " "}}
    {% endif %}
  </p>
  {% endfor %}
{% else %}
<p>No alternatives found for {{ class_name }}</p>
{% endif %}
