<div id="headmenu" class="head-menu">
  <div class="head-menu-item{% if page.url contains '/tutorials' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/tutorials/">Guides</a></div>
  <div class="head-menu-item{% if page.url contains '/structure' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/structure/">Documentation</a></div>
  <div class="head-menu-item{% if page.url contains '/configuration' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/configuration/">Configuration</a></div>
  <div class="head-menu-item{% if page.url contains '/imp' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/imp/">IMP</a></div>
  <div class="head-menu-item{% if page.url contains '/material' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/material/">Resources</a></div>
</div>
