<div id="headmenu" class="head-menu">
  <div class="head-menu-item{% if page.url contains '/tutorials' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/tutorials/">🧭&nbsp;Guides</a></div>
  <div class="head-menu-item{% if page.url contains '/structure' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/structure/">🔍&nbsp;Documentation</a></div>
  <div class="head-menu-item{% if page.url contains '/configuration' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/configuration/">🧰&nbsp;Configuration</a></div>
  <div class="head-menu-item{% if page.url contains '/imp' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/imp/">🧸&nbsp;IMP</a></div>
  <div class="head-menu-item{% if page.url contains '/material' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/material/">📜&nbsp;Resources</a></div>
</div>
