<ul id="headmenu" class="head-menu">
  <li class="head-menu-item{% if page.url contains '/tutorials' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/tutorials/">Guides</a></li>
  <li class="head-menu-item{% if page.url contains '/structure' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/structure/">Structure</a></li>
  <li class="head-menu-item{% if page.url contains '/configuration' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/configuration/">Configuration</a></li>
  <li class="head-menu-item{% if page.url contains '/imp' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/imp/">IMP</a></li>
  <li class="head-menu-item{% if page.url contains '/material' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/material/">Resources</a></li>
</ul>
