@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: 800px) and (max-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: 800px) {
		@content;
	}
}

// ============================================================================
// START: GENERAL ELEMENTS
// ============================================================================

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: $body-text-color;
}

a {
	color: $body-link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn {
	padding: 0.25rem 1rem;
	font-size: 0.9rem;
	font-weight: bold;
	display: inline-block;
	color: $body-text-color;
	transition: all 0.3s;

	background: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
	border: solid 3px $header-bg-color;
	border-radius: 0.4rem;

	box-shadow: inset 0 0 0 1000px white;

	&:hover {
		text-decoration: none;
		box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
	}

	+.btn {
		margin-left: 1rem;
	}

	@include large {
		padding: 0.75rem 1rem;
	}

	@include medium {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}

	@include small {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;

		+.btn {
			margin-top: 1rem;
			margin-left: 0;
		}
	}
}

// ============================================================================
// END: GENERAL ELEMENTS
// ============================================================================

// ============================================================================
// START: HEADER (TOP BAR)
// ============================================================================

.page-header {
	color: $header-heading-color;
	background-color: $header-bg-color;
	background-image: linear-gradient(to right, $header-bg-color-secondary, $header-bg-color);
	border-bottom: solid 1px $border-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	@include large {
		height: 4em;
	}

	@include medium {
		min-height: 4em;
	}

	@include small {
		min-height: 4em;
	}
}

.buttons-wrapper {
	position: fixed;
	right: 1em;
	top: 0.5em;
	z-index: 1000;

	.btn {
		@include large {
			width: 3em;
			height: 3em;
		}

		@include medium {
			display: none;
		}

		@include small {
			display: none;
		}
	}
}

.project-name {
	position: fixed;
	left: 1em;
	top: 0.75em;
	z-index: 1000;

	img {
		vertical-align: middle;
		height: 2.5em;
	}
}

// ============================================================================
// END: HEADER (TOP BAR)
// ============================================================================

// ============================================================================
// START: MAIN CONTENT SETTINGS
// ============================================================================

.spacing-top {
	@include large {
		margin-top: 3em !important;
	}

	@include medium {
		margin-top: 1em !important;
	}

	@include small {
		margin-top: 1em !important;
	}
}

.main-content {
	word-wrap: break-word;

	:first-child {
		margin-top: 0;
	}

	@include large {
		max-width: 70%;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}

	@include medium {
		padding: 1rem 1rem;
		font-size: 1.1rem;
	}

	@include small {
		padding: 1rem 1rem;
		font-size: 1rem;
	}

	kbd {
		background-color: #fafbfc;
		border: 1px solid #c6cbd1;
		border-bottom-color: #959da5;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 #959da5;
		color: #444d56;
		display: inline-block;
		font-size: 11px;
		line-height: 10px;
		padding: 3px 5px;
		vertical-align: middle;
	}

	img {
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: normal;
		color: $section-headings-color;
	}

	p {
		margin-bottom: 1em;
	}

	code {
		padding: 2px 4px;
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 0.9rem;
		color: $code-text-color;
		background-color: $code-bg-color;
		border-radius: 0.3rem;
	}

	pre {
		padding: 0.8rem;
		margin-top: 0;
		margin-bottom: 1rem;
		font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
		color: $code-text-color;
		word-wrap: normal;
		background-color: $code-bg-color;
		border: solid 1px $border-color;
		border-radius: 0.3rem;

		>code {
			padding: 0;
			margin: 0;
			font-size: 0.9rem;
			color: $code-text-color;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
	}

	.highlight {
		margin-bottom: 1rem;

		pre {
			margin-bottom: 0;
			word-break: normal;
		}
	}

	.highlight pre,
	pre {
		padding: 0.8rem;
		overflow: auto;
		font-size: 0.9rem;
		line-height: 1.45;
		border-radius: 0.3rem;
		-webkit-overflow-scrolling: touch;
	}

	pre code,
	pre tt {
		display: inline;
		max-width: initial;
		padding: 0;
		margin: 0;
		overflow: initial;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;

		&:before,
		&:after {
			content: normal;
		}
	}

	ul,
	ol {
		margin-top: 0;
	}

	blockquote {
		padding: 0 1rem;
		margin-left: 0;
		color: $blockquote-text-color;
		border-left: 0.3rem solid $border-color;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
		word-break: normal;
		word-break: keep-all; // For Firefox to horizontally scroll wider tables.
		-webkit-overflow-scrolling: touch;

		th {
			font-weight: bold;
		}

		th,
		td {
			padding: 0.5rem 1rem;
			border: 1px solid $table-border-color;
		}
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}

		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 1rem 0;
		background-color: $hr-border-color;
		border: 0;
	}
}

// ============================================================================
// END: MAIN CONTENT SETTINGS
// ============================================================================

// ============================================================================
// START: FOOTER
// ============================================================================

.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px $hr-border-color;

	@include large {
		font-size: 1rem;
	}

	@include medium {
		font-size: 1rem;
	}

	@include small {
		font-size: 0.9rem;
	}
}

.site-footer-owner {
	display: block;
	font-weight: bold;
}

.site-footer-credits {
	color: $blockquote-text-color;
}

// ============================================================================
// END: FOOTER
// ============================================================================

// ============================================================================
// START: BACK TO TOP BUTTON
// ============================================================================

#backToTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #393939;
	color: white;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	font-size: 15px;
	width: 35px;
	height: 35px;
}

#backToTopBtn:hover {
	background-color: #555;
}

// ============================================================================
// END: BACK TO TOP BUTTON
// ============================================================================

// ============================================================================
// START: MENUS IN HEADER
// ============================================================================

.head-menu {
	height: inherit;

	@include large {
		max-width: 70%;
		padding: 0 6rem;
		margin: 0 auto;
		font-size: 1.1rem;

		display: flex;
		justify-content: space-around;
	}

	@include medium {
		display: none;
	}

	@include small {
		display: none;
	}
}

.head-menu-visible #headmenu {
	@include large {}

	@include medium {
		display: block;
		margin: 0 auto;
		padding: 0;
	}

	@include small {
		display: block;
		margin: 0 auto;
		padding: 0;
	}
}

.head-menu-item {
	height: inherit;

	@include large {
		display: inline-block;
	}

	@include medium {
		display: block;
		text-align: center;
	}

	@include small {
		display: block;
		text-align: center;
	}
}

.head-menu-item a {
	text-decoration: none;
	color: white;

	@include large {
		line-height: 4em;
	}

	@include medium {
		line-height: 3em;
	}

	@include small {
		line-height: 3em;
	}
}

.head-menu-item a:hover {
	color: #B2FFD9;
}

.active-menu-item a {}

#togglemenu {
	display: none;
	cursor: pointer;
	color: white;
	text-decoration: none;

	text-align: right;
	line-height: 3em;

	@include medium {
		display: block;
	}

	@include small {
		display: block;
	}
}

// ============================================================================
// END: MENUS IN HEADER
// ============================================================================

// ============================================================================
// START: BREADCRUMBS
// ============================================================================

#breadcrumbs {
	font-size: 1rem;
	color: $body-text-color;

	a {
		color: $section-headings-color;
	}
}

// ============================================================================
// END: BREADCRUMBS
// ============================================================================

// ============================================================================
// START: TUTORIAL INTRO FORMATTING
// ============================================================================

.tutorialtable,
.tutorialtable tr,
.tutorialtable tr td {
	border: none;
	padding: 5px 0px 0px 10px;
}

.tutorialheader,
.tutorialheader tr,
.tutorialheader tr td {
	border: none;
	padding: 5px 0px 0px 0px;

	name {
		color: $section-headings-color;
	}
}

// ============================================================================
// END: TUTORIAL INTRO FORMATTING
// ============================================================================

// ============================================================================
// START: TABLE OF CONTENTS ON SIDENAV
// ============================================================================

.toc-wrapper {
	@include large {
		position: fixed;
		right: 0;
		top: 6rem;
		width: 20%;
		max-height: 80vh;
		overflow-y: auto;
		z-index: 1000;
		padding-left: 2em;
	}

	@include medium {
		display: none;
	}

	@include small {
		display: none;
	}
}

.toc {
	font-size: 0.9rem;

	#toc-list {
		padding-left: 0;
	}

	ul {
		list-style: none;
		padding-left: 15px;

		li {

			a {
				margin-bottom: 0.3rem;
				text-decoration: none;
				color: $body-text-color;
			}

			a:hover {
				color: $section-headings-color;
			}
		}
	}
}

// ============================================================================
// END: TABLE OF CONTENTS ON SIDENAV
// ============================================================================

// ============================================================================
// START: MAIN BANNER IN HOMEPAGE
// ============================================================================

.home-banner {
	background: url(/banner.png) center/cover no-repeat fixed;
	color: $header-heading-color;
	position: relative;

	>* {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	@include large {
		height: 800px;
		padding: 0 15%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5%;
	}

	@include medium {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 5rem;
		padding-bottom: 3rem;
	}

	@include small {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 5rem;
		padding-bottom: 3rem;
	}

	.home-banner-title {
		font-size: 3rem;
	}

	b {
		color: #B2FFD9;
		font-weight: bold;
	}
}

// ============================================================================
// END: MAIN BANNER IN HOMEPAGE
// ============================================================================

// ============================================================================
// START: TEAM MEMBERS
// ============================================================================

.div-person-table-row {
	display: flex;
	justify-content: space-evenly;
}

.div-person-table-col {
	width: 15%;
}

.div-person-table-info {
	text-align: center;
}

.teambox-card-container {
	clip-path: circle(45% at 50% 50%);
	position: relative;
}

.teambox-card-container-smaller {
	clip-path: circle(40% at 50% 50%);
	position: relative;
}

.teambox-card-container::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.teambox-card-container-smaller::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.teambox-img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.teambox-img-smaller {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	object-fit: cover;
}

// ============================================================================
// END: TEAM MEMBERS
// ============================================================================

// ============================================================================
// START: HOMEPAGE CARDS
// ============================================================================

.card {
	border-radius: 15px;
	margin: 2rem 0;
	box-shadow: 0 0 20px 5px lightgray;
	overflow: hidden;
	font-size: 1rem;

	display: flex;
	flex-direction: row;
}

.card-image {
	margin: 0 !important;
	padding: 0;
	width: 40%;

	img {
		height: 100%;
	}

	@include small {
		display: none;
	}
}

.card-content {
	padding: 20px;
	width: 60%;

	span {
		font-size: 2rem;
		color: $section-headings-color;
	}

	@include small {
		width: 100%;
	}

	.btn {
		margin-left: 0;
		margin-right: auto;
	}
}

// ============================================================================
// END: HOMEPAGE CARDS
// ============================================================================

// ============================================================================
// START: FRONTEND CAROUSEL IN HOMEPAGE
// ============================================================================

.carousel-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.carousel-viewport {
	overflow: hidden;
	position: relative;
}

.carousel-track {
	display: flex;
	flex-direction: row;
	align-items: center;
	will-change: transform;
	animation: scroll linear infinite;
	animation-duration: 50s;
	padding: 20px;
}

.carousel-viewport:hover .carousel-track {
	animation-play-state: paused;
}

.carousel-viewport::before,
.carousel-viewport::after {
	content: "";
	position: absolute;
	top: 0;
	width: 80px;
	height: 100%;
	pointer-events: none;
	z-index: 2;
}

.carousel-viewport::before {
	left: 0;
	background: linear-gradient(to right, white, transparent);
}

.carousel-viewport::after {
	right: 0;
	background: linear-gradient(to left, white, transparent);
}

// ============================================================================
// END: FRONTEND CAROUSEL IN HOMEPAGE
// ============================================================================

// ============================================================================
// START: SINGLE FRONTEND IN HOMEPAGE
// ============================================================================

.frontend-card {
	min-width: 300px;
	height: 300px;
	margin: 0 10px;
	padding: 20px;
	box-shadow: 0 0 20px 5px lightgray;
	text-align: center;
	display: flex;
	flex-direction: column;

	position: relative;
	box-sizing: border-box;
	background: white;
	background-clip: padding-box;
	border: solid 5px transparent;
	border-radius: 1em;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -5px;
		border-radius: inherit;
		background: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
	}

	.btn {
		margin-top: auto;
		padding: 0.25rem 1rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}
}

.frontend-card-title {
	font-size: 1.5rem;
	color: $section-headings-color;
}

.frontend-card-description {
	font-size: 1rem;
	color: $body-text-color;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(var(--scroll-distance));
	}
}

.arrow {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

// ============================================================================
// END: SINGLE FRONTEND IN HOMEPAGE
// ============================================================================
