<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% if site.google_analytics %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}" type="text/plain" cookie-consent="tracking"></script>
		<script type="text/plain" cookie-consent="tracking">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.google_analytics }}');
		</script>

		<!-- Cookie Consent by https://www.TermsFeed.com -->
		<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
				cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en","website_name":"LiSA","change_preferences_selector":"#cookiePrefs"});
			});
		</script>

		<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed</a></noscript>
		<!-- End Cookie Consent -->
		{% endif %}
		<meta charset="UTF-8">

		{% seo %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#157878">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<script src="{{ site.baseurl }}/custom-assets/custom.js"></script>
		<script src="https://kit.fontawesome.com/954504fcb3.js" crossorigin="anonymous"></script>
		<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header class="page-header" role="banner">
			<a class="project-name" href="{{ site.baseurl }}/" id="site-title">
				<img src="{{ site.baseurl }}/white-title-no-bg-cropped.png" alt="{{ site.title }}"/>
			</a> 

			{% include simple-menu.html %}

			<div class="buttons-wrapper">
				{% include toggle-menu.html %}
				<form action="{{ site.baseurl }}/search.html" method="get" id="search-form">
					<input type="text" name="q" id="search-input" placeholder="Search">
					<input type="submit" value="Search" style="display: none;">
				</form>
			</div>
		</header>
		
		{% if page.banner %}		
		<div class="home-banner">
			<div class="left-home-banner">
				<img src="{{ site.baseurl }}/white-title-no-bg-cropped.png" alt="LiSA logo"/>
			</div>
			<div class="right-home-banner">
				<span class="home-banner-title">
					A Library for Static Analysis
				</span>
				<p>LiSA eases the creation of <b>sound static analyzers</b> based on the Abstract 
					Interpretation theory. LiSA provides
					an analysis engine that works on a generic and extensible control flow graph
					representation of the program to analyze. Abstract interpreters in LiSA are
					built for analyzing such representation, providing a <b>unique analysis
					infrastructure</b> for all the analyzers that will rely on it.</p>
			</div>
		</div>
		{% endif %}


		<main id="content" class="{% unless page.banner %}spacing-top{% endunless %} main-content" role="main">			
			{% unless page.notoc %}
			{% include breadcrumbs.html %}
			<div class="toc-wrapper">
				<div class="toc">
					<b>On this page:</b><br/>
					{% include toc.html html=content id="toc-list" %}
				</div>
			</div>
			{% endunless %}
			
			{{ content }}

			<button onclick="topFunction()" id="backToTopBtn" title="Go to top"><i class="fas fa-angle-double-up"></i></button>
			
			<footer class="site-footer">
				<center>
					<span class="site-footer-credits">Maintained by the <a href="{{ site.ssv-homepage }}">Software and System Verification (SSV)</a> group @ Università Ca' Foscari in Venice, Italy.</span>
					<br>
					<span class="site-footer-credits"><i class="fas fa-cookie"></i>&nbsp;&nbsp;<a href="#" id="cookiePrefs" title="Manage cookies preferences">Manage cookie preferences</a></span>
				</center>
			</footer>
		</main>
		{% include new-window-fix.html %}
	</body>
</html>
